
<p-card>
    <div class="col-12">
        <div class="grid formgrid">
            <div class="col-3"> 
                <span class="p-float-label">
                    <input type="text" class="w-full" pInputText name="requestedTo">
                    <label>Name</label>
                </span>                  
            </div>
            <div class="col-3">
                <span class="p-float-label">
                    <input type="text" class="w-full" pInputText name="requestedTo">
                    <label>Id No</label>
                </span>  
            </div>
            <div class="col-3">
                <span class="p-float-label">
                    <input type="text" class="w-full" pInputText name="requestedTo">
                    <label>Job</label>
                </span>  
            </div>
            <div class="col-3">
                <button 
                pButton 
                type="button" 
                class="p-ripple p-button-raised p-button-primary w-full mt-1 mr-2" 
                [label]="'Create'" 
                icon="pi pi-check"
                ></button>
            </div>
        </div>
    </div>
</p-card>

<p-card>
    <div class="col-12">
        <div class="grid formgrid">
            <div class="col-3"> 
                <span class="p-float-label">
                    <input type="text" class="w-full" pInputText name="requestedTo">
                    <label>Name</label>
                </span>                  
            </div>
            <div class="col-3">
                <span class="p-float-label">
                    <input type="text" class="w-full" pInputText name="requestedTo">
                    <label>Id No</label>
                </span>  
            </div>
            <div class="col-3">
                <span class="p-float-label">
                    <input type="text" class="w-full" pInputText name="requestedTo">
                    <label>Job</label>
                </span>  
            </div>
            <div class="col-3">
                <button 
                pButton 
                type="button" 
                class="p-ripple p-button-raised p-button-success w-full mt-1 mr-2" 
                [label]="'Update'" 
                icon="pi pi-check"
                ></button>
                <button 
                pButton 
                type="button" 
                class="p-ripple p-button-raised p-button-warning w-full mt-1 mr-2" 
                [label]="'Delete'" 
                icon="pi pi-check"
                ></button>
            </div>
        </div>
    </div>
</p-card>
